:root {
  --backgroundTransition: background ease 0.2s;

  --lightHeaderBackground: #2b2b2b;
  --lightSectionBackground: #fafafa;

  --darkHeaderBackground: #1d1d1d;
  --darkSectionBackground: #1d1d1d;
}

html,
body {
  background: var(--lightHeaderBackground);
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  height: 100%;
  line-height: 1.4em;
  margin: 0;
  min-width: 400px;
  padding: 0;
  scroll-padding-top: 64px; /* height of sticky header - used so that anchors are correctly spaced */
  transition: var(--backgroundTransition);

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.light-mode {
  background: var(--lightHeaderBackground);
}

body.dark-mode {
  background: var(--darkHeaderBackground);
}

section.app.light-mode {
  background: var(--lightSectionBackground);
}

section.app.dark-mode {
  background: var(--darkSectionBackground);
}

/* Hack to get the footer on the bottom if the page is less than 100vh */
section.app {
  background: var(--lightSectionBackground);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: var(--backgroundTransition);
}
